---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';
import Categories from '~/components/blog/Categories.astro';
import { getPermalink } from '~/utils/permalinks';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 pt-0 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-4xl">
    <Categories
      items={[
        {
          title: 'One-offs',
          description: 'Explore one-off posts from a variety of different topics',
          icon: 'tabler:pencil',
          callToAction: {
            href: getPermalink('one-offs', 'category'),
          },
        },
        {
          title: 'Series',
          description: 'Follow along with series of posts about specific topics',
          icon: 'tabler:books',
          callToAction: {
            href: getPermalink('', 'series'),
          },
        },
        {
          title: 'Talks',
          description: 'Watch talks I have given live in-person',
          icon: 'tabler:podium',
          callToAction: {
            href: getPermalink('talks', 'category'),
          },
        },
      ]}
      classes={{ container: 'max-w-5xl' }}
    />

    <Headline title="Latest Posts" subtitle="Read the latest" />
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
